* {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    height: 150px;
    background: url("../images/logo.jpg") no-repeat scroll center;
}

body {

    margin: 5px auto 20px;
    width: 780px;
    font: smaller "Lucida Grande", Lucida, Verdana, sans-serif;
}

.footer {
    width:  100%;
    background: url("../images/webidblack_1lineright.gif") no-repeat scroll right;
    padding: 5px;
    margin-top: 5px;
}

.footer #designer-name {
    text-align: left;
    text-indent: 0;
}

/* @group Checking */

.problem_msg {
    background-color: #fcc;
    border: 1px solid #c00;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#fine_aggregate_grading_name .problem_msg {
    font-size: 10pt;
    position: relative;
}

.matching_img {
    float: right;
    /* IE bug with float */
    display: inline;
}

.cheking_image {
    display: inline;
}

/* @end */

/* @group Top Border */

#top-left-border {
    background: url(../images/top-left-corner.gif) no-repeat;
    float: left;
    /* IE bug with float */
    display: inline;
    width: 13px;
    height: 13px;
}

#top-right-border {
    background: url(../images/top-right.gif) no-repeat right;
    height: 13px;
}

/* @end */

/* @group Main Content */

#main {
    width: 780px;
    margin-top: 20px;
}

#content-left {
    background: url(../images/main-left-border.gif) repeat-y left;
    padding-left: 4px;
}

#content-right {
    background: #fff url(../images/main-right.gif) repeat-y right;
}

#content {
    text-indent: 1em;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
}

.notes {
    vertical-align: top;
}

h3 {
    display: inline;
}

#cement-data table {
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
}

#cement-data table tr td textarea {
    width: 90%;
}

.help-icon {
    background: url(../images/help.jpg) no-repeat left center;
    margin-left: 5px;
    padding-left: 16px;
    /* Needed by IE */
    zoom: 1;
}

.tooltip {
    background-color: #ecf3ff;
    text-align: justify;
    text-indent: 2ex;
    border: 1px solid #7faeff;
    width: 600px;
    padding: 10px;
}

.property-heading {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

#preloader {
    background-color: white;
    width: 96%;
    height: 96px;
}

#preloadIMG {
    width: 32px;
    height: 32px;
    position: relative;
    left: 384px;
    top: 32px;
    background-image: url(../images/ajax-loader.gif);
}

fieldset {
    border: 1px solid #bfbfbf;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

user-info-fieldset {
    padding: 10px;
    width: 800px;
    margin: 10px;
}

fieldset.collapsed {
    border-style: none;
    height: 0;
}

legend {
    text-align: left;
    text-indent: 0;
    padding-right: 5px;
    padding-left: 5px;
}

.user-info-legend {
    font-weight: bold;
}

.block-displayed {
    margin: 5px;
    display: block;
}

.box-content {
    border: 1px solid #bfbfbf;
    padding: 10px;
}

.item_name {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
}

.link {
    color: #2971a7;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/*
.item {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    /* IE bug with float */
/*
display: inline;
}
*/

.popup {
    padding-top: 10px;
}

.collapsable-element {
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapsable-content.collapsed {
    display: none;
}

.collapsable-content.expanded {

}

.collapsable-title {
    cursor: pointer;
}

.collapsable-title.collapsed a {
    background: url(../images/collapse_closed.gif) no-repeat left;
    padding-left: 20px;
}

.collapsable-title.expanded a {
    background: url(../images/collapse_open.gif) no-repeat left;
    padding-left: 20px;
}

.hidden {
    display: none;
}

hr {
    height: 1px;
    background-color: #bfbfbf;
    border: 0px solid #bfbfbf;
}

.slider-track {
    width: 100px;
    height: 24px;
    background: url(../images/slider-background.gif) repeat-x center;
    float: left;
}

.slider-track-left {
    width: 4px;
    height: 24px;
    background: url(../images/slider-background-left.gif) no-repeat 0 center;
    float: right;
    /* IE bug with float */
    display: inline;
}

.slider-track-right {
    width: 4px;
    height: 24px;
    background: url(../images/slider-background-right.gif) no-repeat 0 center;
    float: right;
    /* IE bug with float */
    display: inline;
}

.slider-handle {
    cursor: move;
    width: 19px;
    height: 24px;
    background: url(../images/slider-handle.gif) no-repeat 0 center;
}

#terminate_degree {
    float: left;
}

.slider-label {
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}

.radio-buttons-group {
    vertical-align: top;
    text-indent: 0;
    margin-left: 5px;
    margin-bottom: 10px;
}

#aging-time_conversion_factor_mode_parameters {
    padding-left: 30px;
}

#aging-colorimetry_mode_parameters {
    padding-left: 30px;
}

#aging-chemical_shrinkage_mode_parameters {
    padding-left: 30px;
}

#aging-time_conversion_factor_mode {
    clear: both;
}

/* @group Lab Materials */

.blob-element {
    margin: 10px;
    display: inline-block;
}

.blob-element-legend {
    text-align: center;
    margin-bottom: 5px;
    display: inline;
}

.blob-element 

/* @end */

/* @group Measurements */

#result_graph_img {
    cursor: crosshair;
}

#selection-rect {
    position: absolute;
    cursor: crosshair;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

/* @end */

/* @end */

/* @group Bottom border */

#bottom-left-border {
    background: url(../images/bottom-left-corner.gif) no-repeat;
    float: left;
    /* IE bug with float */
    display: inline;
    width: 13px;
    height: 13px;
}

#bottom-right-border {
    background: url(../images/bottom-right.gif) no-repeat right;
    height: 13px;
}

/* @end */

/* @group IE only */

/* IE has lot of bugs, so we have to do this... */

* html body {
    text-align: center; /* Allow to center the design with IE 5.5 */
}

* html #main * {
    text-align: justify;
}

* html #top-left-border {
    margin-top: 3px;
    margin-right: -3px;
}

* html #content-left {
    margin-top: -3px;
}

* html #bottom-left-border {
    margin-right: -3px;
}

* html #bottom-right-border {
    margin-left: -3px;
    margin-top: -3px;
}

* html fieldset.collapsed {
    display: block;
}

* html .collapsable-title {
    display: inline;
    width: auto;
}

/* @end */

/* @group My Group */


#homebody {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    text-indent: 0;
} 

#homebody h1 {
    margin-top: 5px;
    margin-bottom: 0.5em;
}

#homebody h2,h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#homebody ul {
    border: 1px #000;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
}

#homebody li {
    border: 1px #000;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0;
}

.disclaimer-heading {
    font-size: larger;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.disclaimer-text {
    font-size: smaller;
    font-style: italic;
    margin-top: 1em;
}

#fly_ash_radio_button {

}
/* @end */